@mixin respond-to($name) {
  $max: map-get($breakpoints, $name);
  @if $max {
      @media only screen and (max-width: $max) {
          @content;
      }
  } @else {
      @content;
  }
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
