$breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
);
$font-family: 'Raleway', sans-serif;
$black: #0b0b0b;
$transitions: (
  'fast-out-slow-in': cubic-bezier(.4, 0, .2, 1),
  'linear-out-slow-in': cubic-bezier(0, 0, .2, 1),
  'fast-out-linear-in': cubic-bezier(.4, 0, 1, 1),
  'ease-in-out': cubic-bezier(.4, 0, .6, 1),
  'fast-in-fast-out': cubic-bezier(.25, .8, .25, 1),
  'swing': cubic-bezier(.25, .8, .5, 1)
);
$transition: .3s map-get($transitions, 'swing');
$olive: #878787;
